<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Epithet-404</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <nav>
        <div class="navbar-main">
            <h1>Epithet-404</h1>
            <p>My journey towards <span class="design-bx">Web development</span> &nbsp and &nbsp <span class="design-bx">Machine learning</span> </p>
        </div>
        <div class="navbar-main">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="">Projects</a></li>
                <li><a href="">Essays</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
    </nav>
